.section {
  overflow: hidden;
  transition: all 1s;
  border-top: 1px solid #ddd;
  @include margin-sections();
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.section-signup {
  background: #333;
  color: #fff;
  border-top: none;
  @include margin-sections();
  border-bottom: 1px solid #444;

  text-align: center;

  button {
    font-size: 1.9rem;
    margin: 0 auto;
    font-weight: bold;
    padding: 2rem 4.5rem;
  }
}

.section-hidden {
  transform: translateY(8rem);
  opacity: 0;
}
