.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;
  background-color: #fff;

  &__tab {
    display: flex;
    justify-content: center;
  }
  &__btn {
    margin: 0 1rem;
    transform: translateY(-50%);
    min-width: 24rem;
  }
  &__btn.active {
    margin: 0 1rem;
    transform: translateY(-70%);
  }
  &__container {
    display: none;
    font-size: 1.7rem;
    padding: 2.5rem 7rem 6.5rem 7rem;
  }
  &__container.active {
    display: grid;
    grid-template-columns: 7rem 1fr;
    column-gap: 3rem;
    row-gap: 0.5rem;
  }
  &__icon--yellow {
    @include icon-svg($color-tertiary, #ffbb0063);
  }
  &__icon--green {
    @include icon-svg($color-tertiary, #5ec57649);
  }
  &__icon--red {
    @include icon-svg($color-tertiary, #fd424b67);
  }
  &__header {
    font-size: 2.25rem;
    font-weight: 500;
    align-self: center;
  }
  &__discretion {
    grid-column: 2;
  }

  // *************RESPONSIVE*****************
  @include responsive(md) {
    &__tab {
      flex-direction: column;
      align-items: center;
    }

    &__btn {
      margin: 0.5rem 0;
    }

    &__container.active {
      grid-template-columns: 1fr;
    }
    &__discretion {
      grid-column: 1;
    }
    &__icon {
      display: none;
    }
  }

  @include responsive(sm) {
  }
}
