.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin: 0 5rem;

  &__discretion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    @include icon-svg($color-primary, #5ec57656);
  }

  &__title {
    font-size: 2rem;
  }

  &__subtitle {
    font-size: 1.5rem;
    color: #666;
  }

  // *************RESPONSIVE*****************
  @include responsive(lg) {
    margin: 0;
    gap: 3rem;
    &__icon {
      height: 3.5rem;
      width: 3.5rem;
      margin-bottom: 0;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__subtitle {
      font-size: 1.3rem;
    }
  }

  @include responsive(sm) {
    grid-template-columns: 1fr;
    gap: 3rem;
    &__icon {
      margin-bottom: 1rem;
    }

    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1.5rem;
    }
  }
}
