* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

.wrapper {
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.score-container {
  width: 80%;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  margin: 2rem 0;
}

.score-container .title img {
  width: 80%;
}

.score {
  background: #fff;
  width: 6rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score p {
  color: #1f3757;
  font-weight: bold;
}
.score h1 {
  color: #131537;
}

.hands {
  background: url("../images/triangle.png") no-repeat center;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hand {
  margin: 0.5rem;
}
.hand img {
  transition: all 0.5s;
  cursor: pointer;
  width: 90%;
}
.hand img:hover {
  transform: translateY(-10px);
}
.result {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-box span {
  margin-bottom: 1rem;
  font-weight: bold;
}
#btn-reload {
  outline: none;
  border: none;
  background: #fff;
  padding: 0.5rem 1rem;
  margin-top: 1.3rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
