.footer {
    background: $footer-bg;
    padding: 10rem 0;
    .row {
        & > div:first-child {
            padding-right: 13rem;
            @include respond(big-desktop) {
                padding-right: 5rem;
            }
            @include respond(tap-land) {
                margin-bottom: 5rem;
                padding-right: 0;
            }
        }
        & > div:last-child {
            padding-left: 13rem;
            @include respond(big-desktop) {
                padding-left: 5rem;
            }
            @include respond(tap-land) {
                padding-left: 0;
            }
        }
    }
    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 10rem;
        picture {
            width: 15rem;
        }
    }
    &__description,
    &__nav {
        border-top: 1px solid #777;
        padding-top: 2rem;
    }
    &__paragraph {
        color: $white-color;
        font-size: 1.3rem;
    }
    &__lists {
        display: flex;
        justify-content: space-between;
        list-style: none;
        flex-wrap: wrap;
    }
    &__link {
        font-size: 1.5rem;
        color: $white-color;
        display: inline-block;
        margin: 1.5rem 1rem;
        text-transform: uppercase;

        @include transition(all 0.3s);
        &:hover {
            color: $medium-green;
            transform: scale(1.3) rotate(5deg);
            background: #777;
        }
    }
}
