.footer {
  background: #333;
  padding: 10rem 3rem;
  color: #fff;

  a {
    color: #fff;
  }
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    margin: 0 2.5rem;
  }
  &__link {
    font-size: 1.5rem;
  }
  &__image {
    margin: 6rem auto;
    width: clamp(50px, 5rem, 10rem);
  }
  &__copyright {
    text-align: center;
    font-size: 1.4rem;
    color: #aaa;
  }

  //   *********************
  @include responsive(sm) {
    &__nav {
      flex-direction: column;
    }
  }
}
