.about-section {
    background: $gray-section;
    padding: 25rem 0 30rem;
    margin-top: -20vh;
    overflow: hidden;
    &__textBox {
        padding-right: 5.5rem;
    }
    &__textBox:first-child {
        margin-bottom: 3rem;
    }
    @include respond(tap-land) {
        padding-bottom: 60rem;
    }
}

.features-section {
    @include liner-bg-green('../img/nat-4.jpg');
    padding: 25rem 0;
    margin-top: -15rem;
    -webkit-clip-path: polygon(0 17%, 100% 0%, 100% 83%, 0% 100%);
    clip-path: polygon(0 17%, 100% 0%, 100% 83%, 0% 100%);
    @include respond(tab-port) {
        margin-top: -19rem;
        -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 94%, 0% 100%);
        clip-path: polygon(0 8%, 100% 0%, 100% 94%, 0% 100%);
    }
}

.tours-section {
    padding: 25rem 0 10rem;
    margin-top: -15rem;
    background: $gray-section;
    text-align: center;
}

.stories-section {
    position: relative;
    padding: 15rem 0 10rem;
}
.book-section {
    padding: 15rem 0;
    @include liner-bg-green-colors;
    .book {
        // height: 50rem;
        background: linear-gradient(
                105deg,
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.9) 50%,
                transparent 50%
            ),
            url('../img/nat-10.jpg') center/cover no-repeat;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 5rem rgba($color: $black-color, $alpha: 0.2);
        @include respond(tab-port) {
            background: linear-gradient(
                    105deg,
                    rgba(255, 255, 255, 0.9) 0%,
                    rgba(255, 255, 255, 0.9) 90%,
                    transparent 50%
                ),
                url('../img/nat-10.jpg') center/cover no-repeat;
        }
        &__form {
            flex-basis: 50%;
            padding: 6rem;
            padding-right: 10.5rem;
            display: flex;
            flex-direction: column;
            align-items: baseline;

            @include respond(tab-port) {
                flex-basis: 80%;
                margin: 0 auto;
            }
        }
    }
}
