@mixin margin-sections {
  padding: 0 9rem;
}

@mixin responsive($view-port) {
  @if ($view-port==sm) {
    @media only screen and (max-width: $sm) {
      @content;
    }
  }
  @if ($view-port==md) {
    @media only screen and (max-width: $md) {
      @content;
    }
  }
  @if ($view-port==lg) {
    @media only screen and (max-width: $lg) {
      @content;
    }
  }
  @if ($view-port==xl) {
    @media only screen and (max-width: $xl) {
      @content;
    }
  }
}

@mixin icon-svg($bg, $bg-opacity) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-opacity;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;

  svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: $bg;
  }
}
