html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include responsive(lg) {
    font-size: 75%; //1rem = 12, 12/16
  }

  @include responsive(md) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include responsive(sm) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
}
a {
  text-decoration: none;
}

.section__title {
  margin: 5rem auto;
  max-width: 80rem;
}

.sections__discretion {
  font-size: 1.7rem;
  color: $color-primary;
}

.sections__header {
  font-size: 4rem;
  font-weight: 400;
}
