.header {
  height: 100vh;
  @include margin-sections();

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87vh;
  }

  &__images {
    width: 40%;
    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 5.5rem;
    line-height: 1.35;
  }

  &__subtitle {
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 2.5rem 0;
  }

  // *************RESPONSIVE*****************
  @include responsive(lg) {
    margin: 0 6rem;

    &__title {
      font-size: 4rem;
    }
    &__subtitle {
      font-size: 2rem;
    }
  }

  @include responsive(md) {
    &__content {
      flex-direction: column;
      margin-top: 3rem;
    }
    &__images {
      width: 100%;
      margin-top: 3rem;
    }
    &__title {
      margin-top: 2.5rem;
    }
  }

  @include responsive(sm) {
    margin: 0 1rem;
    &__title {
      font-size: 2.5rem;
    }
    &__subtitle {
      font-size: 1.5rem;
      margin: 2rem 0;
    }
  }
}
