.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: clamp(100px, 150px, 200px);
    margin-top: 2rem;
  }

  &__list {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__item {
    padding-top: 2rem;
  }

  &__link {
    font-size: 1.6rem;
    text-decoration: none;
    color: inherit;
  }
}

// *************RESPONSIVE*****************
@include responsive(lg) {
  .nav__list {
    width: 65%;
  }
}

@include responsive(md) {
  .nav__list {
    display: none;
  }
}
