.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
}
.btn--green {
  background: $color-primary;
}
.text-btn {
  outline: none;
  border: none;
  display: inline-block;
  background: none;
  color: $color-primary;
  font-size: 1.7rem;
  font-family: inherit;
  border-bottom: 1px solid $color-primary;
  padding-bottom: 0.3rem;
}

.btn--dark {
  background: #333;
  color: $color-primary;
}
