.composition {
    position: relative;
    &__image {
        position: absolute;
        width: 50%;
        box-shadow: 0 0 5rem rgba($color: $black-color, $alpha: 0.3);
        outline: 1.5rem solid transparent;
        outline-offset: 1.5rem;
        @include transition(all 0.2s);
        &:hover {
            outline: 1.5rem solid $dark-green;
            transform: scale(1.05);
            z-index: 1;
            box-shadow: 0 0 10rem rgba($color: $black-color, $alpha: 0.6);
        }
    }
    &__image--1 {
        left: 0;
        top: 0;
    }
    &__image--2 {
        top: 4rem;
        left: 24rem;
    }
    &__image--3 {
        top: 13rem;
        left: 12rem;
    }
    @include respond(tab-port) {
        margin-top: 5rem;
        margin-left: 10rem;
    }
    @include respond(phone) {
        margin-top: 5rem;
        margin-left: 0;
    }
}
