.mb-10 {
    margin-bottom: 10rem;
}
.mb-4 {
    margin-bottom: 4rem !important;
}
.mt-3 {
    margin-top: 3rem;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left !important;
}
